<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>

    <!-- axios -->
    <script src="../js/axios2.min.js"></script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/6bf421ec3d.js" crossorigin="anonymous"></script>

    <!-- sweetAlet -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- sources local -->
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="../js/productos.js"></script>

</head>

<body>
    <div class="container d-grid align-content-center">
        <div class="row">
            <h1 class="text-center">Productos</h1>
            <nav class="navbar">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link bg-dark rounded">Home</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="card col-5 shadow">
                <div class="form-control-sm mt-3">
                    <label for="txtNombre" class="form-label">Nombre: </label>
                    <input type="text" name="txtNombre" id="txtNombre" class="form-control">
                </div>
                <div class="form-control-sm">
                    <label for="txtCantidad" class="form-label">Cantidad: </label>
                    <input type="number" name="txtCantidad" id="txtCantidad" class="form-control">
                </div>
                <div class="form-control-sm text-center">
                    <button type="button" onclick="create()" class="btn btn-dark mb-3"> <i class="fa-solid fa-plus"></i>&nbsp Crear</button>
                    <button type="button" onclick="update()" class="btn btn-dark mb-3"> <i class="fa-solid fa-pen-to-square"></i>&nbsp Modificar</button>
                    <button type="button" onclick="deletes()" class="btn btn-dark mb-3"> <i class="fa-solid fa-trash"></i>&nbsp Eliminar</button>
                    <button type="button" onclick="clean()" class="btn btn-dark mb-3"> <i class="fa-solid fa-broom"></i>&nbsp Limpiar</button>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-7">
                <table  class="table rounded">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Estado</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                    </thead>
                    <tbody id="table">
                        <!-- contenido de la tabla -->
                    </tbody>
                    <tfoot id="">

                    </tfoot>
                </table>
                <div id="pages" class="d-flex justify-content-evenly"></div>
            </div>
        </div>
    </div>
</body>

</html>
